/*Common elements*/
body {
    font-size: 67.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(img/puzzle-piece-back.png); 
    background-size: 23px 13px;
    padding: 0;
    margin: 0;


    -o-background-size: 100% 100%;
}
button {
    color: #00eeff;
    background-color: #fff;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid #22c622;
    text-transform: uppercase;
}

button:hover {
    background-color: #fbf3db;
    border: 1px solid #745b2f;
}

div.clear {
    clear: both;
    font-size: 1%;
}
/*Header*/

header {
    padding: 0;
    margin: 0;
    background-image: url(img/HeaderF.png);
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    margin-top: 0em;
    height: 20%;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #7d0bc0;
    font-size: 6em;
    letter-spacing: -0.025em;
    text-shadow: 1px 2px 0 #182da5; /*offset-x | offset-y | blur-radius | color */
    margin: 0;
}

header h2 {
    font-weight: 500;
    color: #ca1818;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-shadow: 1px 2px 0 #b33807ab; /*offset-x | offset-y | blur-radius | color */
    margin: 0;
}

.h {
    position: relative;
    text-align: center;
    background-color: rgba(214, 203, 55, 0.87);
    border: 2px double black;
    margin-top: 0em;
    border-width: 4px;
    width: 33%;
    top: 2em;
    left: 33%;
}

/*Nav Bars*/

nav {
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
nav li {
    display:inline-block;
    margin: 0;
    
}
nav li a, nav li a:visited {
    text-decoration: none;
    color: rgb(25, 131, 11);
    padding: 0.3em 0.6em;
}
nav li a:hover {
    color: #27c622;
    background-color: rgb(252,251,243,0.75);
}

nav#utilityMenu {
    float: left;
    position: absolute;
    left: 2%;
    top: 0px;
    background-image: url(img/puzzle-piece.png); 
    background-repeat: no-repeat;
    background-size: 236px 135px;

}



nav#utilityMenu  li {
    padding: 0.25em 0.25em 0.2em 0.2em;
    vertical-align: middle;
    z-index: 1;
}
nav#utilityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited{
    color: rgb(253, 11, 11);
    text-decoration: aqua;
    display: inline-block;
    height: 1.3em;
    margin: -0.4em 0 0 0;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.5em;
}
nav#utilityMenu ul li.acctNav a.active{
    background-color: transparent;
}
nav#utilityMenu ul li.acctNav a.hover{
    background-color: rgb(242, 255, 240);
    color: #c64322;
}

nav#utilityMenu ul li.acctNav:hover {
    animation: reveal 1s ease-in-out 0s infinite alternate;
}
@keyframes reveal {
    from {
        background-color: transparent;

        }
    to {
        background-color: rgb(0, 0, 0);

        }
}

nav#utilityMenu li a, nav#utilityMenu li a:visited { padding: 0;}
nav#utilityMenu li a:hover { background-color: transparent;}
nav#utilityMenu ul li input#search {
    vertical-align: middle;
    margin: 0 0 0 0;
}



/*Sidebar Section*/
section#sidebar {
    text-align: center;
    width:inherit;
    float: left;
    position: relative;
    display: block;
    background-color: rgb(0, 0, 0);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%;
    
}

table, th {
    border: 4px solid black;
    font-size: 1.7em;
    background-color: rgba(red, green, blue, alpha);
}

#tb1 {
    color: rgb(0, 24, 240);
    background-color: rgb(104, 4, 4);
}
#tb2 {
    color: rgb(61, 250, 44);
    background-color: rgb(78, 48, 48);
}
#tb3 {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 10, 68);
}
#tb4 {
    color: rgb(246, 250, 44);
}

section#sidebar li{
    width: 12em;
}

section#sidedoor {
    height: 50em;
    width: 30em;
    float: right;
    position: relative;
    display: block;
    background-image: url(img/FinalDoor.png);
    background-size: 30em 50em;
    margin: 1%;
    
}

section#sidedoor p {

    float: right;
    top: 30%;
    position: relative;
    display: block;
    margin: 1%;
    
}


section #main {
    /*background-color: #fcfbe6;*/
    background-color: rgba(252,251,243,0.7);
    margin: 0 0 2.0em;
    padding: 1.5em 0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;/* offset-x | offset-y | blur-radius | color */

}
section div.panel {
    text-align: center;
    vertical-align: middle;
    float: left;
    position: relative;
    width: 18%;
    height: 23%;
    margin-top: 1.5%;
    margin-bottom: 3%;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1.0em;
    background-color: rgb(126, 6, 6);
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 50%;
}


div.panel:hover {
    animation: act 1s ease-in-out 0s infinite alternate;
}
@keyframes act {
    from {
        background-color: rgb(112, 0, 0);

        }
    to {
        background-color: rgb(72, 0, 82);

        }
}

section div.panel p {
    font-weight: 500;
    font-size: 3em;
    margin-top: 8%;
    
    color: orangered;
}

/*Main Section*/

#topCat {
    color: #2BA967;
    font-size: 4.0em;
    margin: 0.5em 40% 0.5em 40%;
    border-radius: 2%;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(255, 214, 29);

}



h2 {
    color: #745b2f;
    font-size: 1.7em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #555;
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;
}

ol{
    font-size: 1.2em;
    margin: 0 0 0 1.0em;
    padding: 0 0 0 1.0em;
}

ol li {
    margin: 0;
    padding: 0 0 0.2em;
}
a, a:visited {
    color: #075714;
}
a:hover {
    color: rgba(44, 216, 250, 0.781);
    border-radius: 5%;
    animation: flash 1s ease-in-out 0s infinite alternate;
}
@keyframes flash {
    from {
        color: rgba(44, 216, 250, 0.781);
        }
    to {
        color: rgb(6, 82, 6);

        }
}

hr{
    padding: 0;
    margin: 1.5em 1.5em 0.75em 0.5em;
}

.contentWrapper {
    margin: 0 auto;
    padding: 0 0em;
}

.left {
    float: left;
}

.right {
    float: right;
}


/*Footer*/
footer {
    background-color: transparent;
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    float: bottom;
    padding: 1.5em 2.0em;
}

footer:hover {
    background-color: rgb(102, 4, 4);
    text-decoration: underline;
    animation: close 1s ease-in-out 0s infinite alternate;
}

@keyframes close {
    from {
        margin-left: 0;
        margin-right: 0;
        }
    to {
        margin-left: 20%;
        margin-right: 20%;

        } 
}

footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin: 0;
    padding: 0 0.7em 0 0;
}

footer ul li::before {
    content: "- ";
    padding-right: 0.7em;
}

footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}


